<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="test-page" />
</head>

<body>
    <p>Stress test: <span th:remove="tag" th:text="${ stressUrl }"></span></p>
    <div id="mainRegion" data-portal-region="main">
        <div th:if="${ mainRegion.components }" th:each="component : ${ mainRegion.components }" th:remove="tag">
            <div data-portal-component="${ component.path }" th:remove="tag"></div>
        </div>
    </div>
</body>

</html>